@import url(form.css);
@import url(dados.css);
@import url(prevNext.css);
@import url(tipagem.css);

* {
    font-family: 'Oxanium', cursive;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(to bottom left, aqua, lightgreen); */
    background: linear-gradient(to bottom right, rgb(1, 1, 119), rgb(0, 255, 0));
    min-height: 100vh;
}

main {
    padding: 2em;
}

.container {
    position: relative;
    text-align: center;
}

.img__pokemon {
    position: absolute;
    height: 18%;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);
}

.pokedex {
    width: 100%;
    max-width: 425px;
}

