.tipos {
    position: absolute;
    top: 22.1%;
    left: 17%;
    display: flex;
    gap: 5%;
    transform: translate(7%, -10%);
    width: 50%;
    justify-content: center;
    background-color: #e3e3e3;
}

.tipo {
    font-weight: 600;
    font-size: clamp(6px, 4vw, 21px);
    padding: 1.5% 10%;
    border-radius: 6px;
    text-transform: capitalize;
}

.hide {
    display: none;
}

.fire {
    background-color: #ff6a00;
}

.water {
    background-color: #4b98cb;
}

.flying {
    background: linear-gradient(180deg, #3dc7ef 40%, #bdb9b8 60%);
    color: black;
}

.grass {
    background-color: #13e004;
}

.bug {
    color: whitesmoke;
    background-color: #729f3f;
}

.poison {
    color: #fff;
    background-color: #b617e2;
}

.normal {
    background-color: darkgray;
}

.electric {
    background-color: #e9cd16;
}

.rock {
    background-color: #a38c21;
}

.ground {
    background: linear-gradient(180deg, #f7de3f 30%, #ab9842 70%);
}

.fairy {
    background-color: pink;
}

.fighting {
    color: white;
    background-color: #ea0e0e;
}

.steel {
    background-color: gray;
}

.ice {
    background-color: #51c4e7;
}

.ghost {
    color: white;
    background-color: #7658a7;
}

.psychic {
    background-color: #f366b9;
}

.dragon {
    color: white;
    background: linear-gradient(blue 30%, red 70%);
}

.dark {
    background-color: #010101;
    color: white;
}
